html,
body {
  font-family: Arial;
  background-color: #242320;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.infos {
  position: absolute;
  left: 40px;
  top: 40px;
}

.infos h1 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 1px;
  line-height: 1.2;
}

.infos .startBtn {
  background-color: #6b6b6b;
  padding: 5px;
  cursor: pointer;
  border-radius: 10px;
}

.hide {
  display: none;
}

.status.flash {
  background-color: #bfff00;
  border-radius: 5px;
}

.infos h3 {
  color: red;
  font-size: 24px;
  padding: 3px;
}

.blocks {
  color: white;
  margin-left: 20%;
}

.blocks .row {
  display: flex;
}

.blocks .block {
  width: 100px;
  height: 100px;
  display: flex;
  background-color: rgba(187, 187, 187, 0.5);
  box-shadow: 0px 0px 16px rgba(187, 187, 187, 0.4);
  border: solid 1px #6b6b6b;
  color: #000;
  font-size: 36px;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;
  margin: 12px;
}

.blocks .block:hover {
  background-color: rgba(255, 255, 255, 0.75);
}

.blocks .block:active {
  transition: 0s;
  background-color: #fff;
  color: black;
}

.blocks.x6 .block {
  width: 80px;
  height: 80px;
}

/* .blocks .block.block1 {
  box-shadow: 0px 0px 35px rgba(255, 83, 83, 0.2);
  background-color: transparent;
  border: solid 1px #ff6d6d;
}

.blocks .block.block2 {
  box-shadow: 0px 0px 35px rgba(255, 196, 41, 0.2);
  background-color: transparent;
  border: solid 1px #ffcb43;
}

.blocks .block.block3 {
  box-shadow: 0px 0px 35px rgba(89, 128, 193, 0.2);
  background-color: transparent;
  border: solid 1px #6c8ec8;
}

.blocks .block.block4 {
  box-shadow: 0px 0px 35px rgba(147, 250, 197, 0.2);
  background-color: transparent;
  border: solid 1px #abfbd2;
}

.blocks .block.block1:hover {
  background-color: rgba(255, 83, 83, 0.3);
  box-shadow: 0px 0px 35px rgba(255, 83, 83, 0.5);
}

.blocks .block.block2:hover {
  background-color: rgba(255, 196, 41, 0.3);
  box-shadow: 0px 0px 35px rgba(255, 196, 41, 0.5);
}

.blocks .block.block3:hover {
  background-color: rgba(89, 128, 193, 0.3);
  box-shadow: 0px 0px 35px rgba(89, 128, 193, 0.5);
}

.blocks .block.block4:hover {
  background-color: rgba(147, 250, 197, 0.3);
  box-shadow: 0px 0px 35px rgba(147, 250, 197, 0.5);
}

.blocks .block.block1:active,
.blocks .block.block1.active {
  background-color: #ff5353;
  box-shadow: 0px 0px 35px #ff5353;
}
.blocks .block.block2:active,
.blocks .block.block2.active {
  background-color: #ffc429;
  box-shadow: 0px 0px 35px #ffc429;
}
.blocks .block.block3:active,
.blocks .block.block3.active {
  background-color: #5980c1;
  box-shadow: 0px 0px 35px #5980c1;
}
.blocks .block.block4:active,
.blocks .block.block4.active {
  background-color: #93fac5;
  box-shadow: 0px 0px 35px #93fac5;
} */

.inputStatus {
  margin-top: 10px;
}

.inputStatus .circle {
  width: 10px;
  height: 10px;
  display: inline-block;
  background-color: white;
  opacity: 0.2;
  margin: 6px;
  border-radius: 50%;
}

.inputStatus .circle.correct {
  opacity: 1;
}

.inputStatus.correct .circle {
  background-color: blue;
}
.inputStatus.wrong .circle {
  background-color: red;
}
